﻿@using work01.Models.Entities;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        work01 Talep Yönetim Sistemi
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="~/Content/material-dashboard.css" rel="stylesheet" />
    <!-- IMask -->
    <script src="https://unpkg.com/imask"></script>

    <!--   Core JS Files   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/core/popper.min.js"></script>
    <script src="~/Scripts/core/bootstrap-material-design.min.js"></script>
    <script src="~/Scripts/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="~/Scripts/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/Scripts/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/Scripts/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/Scripts/plugins/jquery.bootstrap-wizard.js"></script>
    <!--    Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/Scripts/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/Scripts/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="~/Scripts/plugins/jquery.dataTables.min.js"></script>
    <!--    Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/Scripts/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/Scripts/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/Scripts/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/Scripts/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/Scripts/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="~/Scripts/plugins/arrive.min.js"></script>
    @*Google Maps Plugin
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>*@
    <!-- Chartist JS -->
    <script src="~/Scripts/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Scripts/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Scripts/material-dashboard.js"></script>

    <!-- Client Side Validation -->
    <script src="~/Scripts/plugins/jquery.validate.min.js"></script>
    <script src="~/Scripts/plugins/jquery.validate.unobtrusive.min.js"></script>

    <!-- Moment JS -->
    <script src="~/Scripts/momentJSwithLocales.js"></script>

    <!-- AirDatePicker -->
    <link href="~/Content/AirDatePicker.css" rel="stylesheet" />
    <script src="~/Scripts/AirDatePicker.js"></script>

    <!-- Datatables JS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <style>
        .input-validation-error {
            border-color: red;
        }

        .field-validation-error {
            display: list-item;
            list-style-type: disc;
            list-style-position: inside;
        }
    </style>
    <script>
           function getDateFromAspNetFormat(date){
                const re = /-?\d+/;
                const m = re.exec(date);
                return parseInt(m[0], 10);
        }

        function getDateInStringFormat(date) {
            var month = date.getMonth() + 1;
                    var day = date.getDate();
                    var year = date.getFullYear();
                    var min = date.getMinutes();
                    var hour = date.getHours();
                    return (day >= 10 ? day : "0" + day) + " / " + (month >= 10 ? month : "0" + month) + " / " + year + " - " + (hour >= 10 ? hour : "0" + hour) + ":" + (min >= 10 ? min : "0" + min);
        }

        $(document).ready(function () {
            var item = $('#issueNavBar li.nav-item a')[0];
            $('#issueNavBar li.nav-item a').on("click", function (element) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SetTempData","Home")',
                data: '{ key: "activeNavBar", value:"' + element.currentTarget.id + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    // Alert that it was succesful!
                    alert('TempData Updated');
                }
            });
        });
        @if (TempData["activeNavBar"] != null)
        {
            <text>
            document.getElementById('@TempData["activeNavBar"].ToString()').click();
            </text>
        }
});
    </script>
    @if (IsSectionDefined("chatScript"))
    {
        @RenderSection("chatScript", false)
    }
    @if (IsSectionDefined("externalScript"))
    {
        @RenderSection("externalScript", false)
    }
</head>

<body class="">


    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="../Content/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="/Home/Index" class="simple-text logo-normal">
                    work01
                </a>
            </div>
            <div id="solMenu" class="sidebar-wrapper">
                <ul class="nav">
                    <li id="dashboardNav" class="nav-item">
                        <a class="nav-link" href="/Home/Index">
                            <i class="material-icons">dashboard</i>
                            <p>Gözlem Paneli</p>
                        </a>
                    </li>
                    <li id="profileNav" class="nav-item">
                        <a class="nav-link" href="/Home/ProfilePage">
                            <i class="material-icons">person</i>
                            <p>Kullanıcı Profili</p>
                        </a>
                    </li>
                    <li id="issuesNav" class="nav-item">
                        <a class="nav-link" href="/Home/Issues">
                            <i class="material-icons">content_paste</i>
                            <p>Talepler</p>
                        </a>
                    </li>
                    <li id="usersNav" class="nav-item">
                        <a class="nav-link" href="/Home/Users">
                            <i class="material-icons">people</i>
                            <p>Kullanıcılar</p>
                        </a>
                    </li>
                    <li id="logsNav" class="nav-item">
                        <a class="nav-link" href="/Home/LogPage">
                            <i class="material-icons">receipt</i>
                            <p>Log Kayıtları</p>
                        </a>
                    </li>
                    <li id="accordion"  class="nav-item">
                        <button class="btn btn-link" id="reportPanel" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="margin-left:17%">
                            Raporlar ##
                        </button>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <ul class="nav">
                                <li id="openissuesreportNav" class="nav-item">

                                    <a class="nav-link" href="/Home/OpenIssuesReportPage">
                                        <i class="material-icons">merge_type</i>
                                        <p>Açık Talep Raporları</p>
                                    </a>
                                </li>
                                <li id="closeissuesreportNav" class="nav-item">
                                    <a class="nav-link" href="/Home/CloseIssuesReportPage">
                                        <i class="material-icons">pie_chart</i>
                                        <p>Kapalı Talep Raporları</p>
                                    </a>
                                </li>
                                @if (ViewBag.userType.ToString() == "Administrator")
                                {
                                <li id="companyscorereportNav" class="nav-item">
                                    <a class="nav-link" href="/Home/CompanyScoreReportPage">
                                        <i class="material-icons">multiline_chart</i>
                                        <p>Firma Skor Raporu</p>
                                    </a>
                                </li>
                                <li id="employeereportNav" class="nav-item">
                                    <a class="nav-link" href="/Home/EmployeeReportPage">
                                        <i class="material-icons">scatter_plot</i>
                                        <p>Personel Raporu</p>
                                    </a>
                                </li>
                                }
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <span class="navbar-brand">@ViewBag.Title</span>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="/Home/ProfilePage">Profil</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/User/LoginPage?logout=true">Oturumu Kapat</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->

            @RenderBody()

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }

                }

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });
        });
    </script>
    <script>
        var nav = "@Html.Raw(ViewBag.currentPage.ToString())";
        console.log(nav);
        document.getElementById(nav + 'Nav').className += ' active';
        if (nav.includes("report"))
        {
             document.getElementById('reportPanel').className = 'btn btn-link' 
             document.getElementById('collapseOne').className += ' show' 
        }
    @{
        
        if (ViewBag.deniedPages != null)
        {
            foreach (WebPageClass page in (Session["deniedPages"] as List<WebPageClass>))
            {
                     <text>
                        document.getElementById('@(page.PageName + "Nav")').style.display = "none";
                     </text>
                }
            }
            }
    </script>
    <script>
        var phoneMask = new IMask(
            document.getElementById('phone'), {
                mask: '(000) 000 00 00'
            });
        var adminPhoneMask = new IMask(
            document.getElementById('adminPhone'), {
                mask: '(000) 000 00 00'
            });

    </script>
    @{
        if (ViewBag.processType != null && ViewBag.processType != "initialize")
        {
        <script>
                $.notify({
                    icon: "add_alert",
                    message: '@ViewBag.processMessage'

                }, {
                    type: type['@ViewBag.processType'],
                    timer: 3000,
                    placement: {
                        from: 'top',
                        align: 'right'
                    }
                });
        </script>
        }
    }
</body>

<!--
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
##########################################################################################################################################Dev#####(@ViewBag.res1)#############################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
###Contact#######(@ViewBag.res2)##################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
############################################################################################################################################################################################
-->
</html>

