﻿@using work01.Models.ViewModels.Home
@model IssueReportViewModel

<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title"><b>Talepler</b></h4>
                </div>
                <div class="card-body">
                    <div id="filter-panel" class="filter-panel" style="margin-bottom:20px;">
                        <div class="panel panel-default">
                            <div class="panel-body" style="border: 1px solid black">
                                @using (Html.BeginForm("CompanyScoreReportPage", "Home", FormMethod.Post, new { @class = "form-inline" }))
                                {
                                    <div class="col-sm-1 form-group">
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <div class="col-sm-12">
                                            <span style="font-size:0.6875rem; color:#AAAAAA; margin-bottom:0px;">Başlangıç Tarihi</span>
                                        </div>
                                        @Html.EditorFor(m => m.startTime, new { htmlAttributes = new { @class = "form-control datepicker-here", @readonly = true, style = "background-color:white; margin-left:6%; width:100%" } })
                                    </div> <!-- form group [rows] -->
                                    <div class="col-sm-2 form-group">
                                        <div class="col-sm-12">
                                            <span style="font-size:0.6875rem; color:#AAAAAA; margin-bottom:0px;">Bitiş Tarihi</span>
                                        </div>
                                        @Html.EditorFor(m => m.endTime, new { htmlAttributes = new { @class = "form-control datepicker-here", @readonly = true, style = "background-color:white; margin-left:6%; width:100%" } })
                                    </div><!-- form group [search] -->
                                    <div class="col-sm-2 form-group">
                                        <div class="col-sm-12">
                                            <span style="font-size:0.6875rem; color:#AAAAAA; margin-bottom:0px;">Personel</span>
                                        </div>
                                        @{
                                            @Html.DropDownListFor(m => m.Employee.ID, ViewBag.employeeList as List<SelectListItem>, new { @class = "form-control", id = "employeeUser", name = "employeeUser", style = "margin-left:6%; width:100%" });
                                        }
                                    </div> <!-- form group [order by] -->
                                    <div class="col-sm-2 form-group">
                                        <div class="col-sm-12">
                                            <span style="font-size:0.6875rem; color:#AAAAAA; margin-bottom:0px;">Müşteri</span>
                                        </div>
                                        @{
                                            @Html.DropDownListFor(m => m.Customer.ID, ViewBag.customerList as List<SelectListItem>, new { @class = "form-control", id = "customerUser", name = "customerUser", style = "margin-left:6%; width:100%" });
                                        }
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-default filter-col btn-sm">
                                                <span class="glyphicon glyphicon-record"></span> Ara
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>


                    <div class="row" style="margin-top:50px;">
                        <div class="col-sm-4">
                            <div class="col-lg-8 col-md-6 col-sm-6" style="  margin: 0 auto; position: relative;">
                                <div class="card card-stats">
                                    <div class="card-header card-header-info card-header-icon">
                                        <a class="card-icon" href="/Home/FilterCompanyScoreReportPage?data=waiting" style="color:white">
                                            <i class="material-icons">bug_report</i>
                                        </a>
                                        <p class="card-category">Bekleyen Talep Sayısı</p>
                                        <h3 class="card-title">@(Model.waitingIssueCount + " / " + Model.issueCount)</h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-lg-8 col-md-6 col-sm-6" style="  margin: 0 auto; position: relative;">
                                <div class="card card-stats">
                                    <div class="card-header card-header-primary card-header-icon">
                                        <a class="card-icon" href="/Home/FilterCompanyScoreReportPage?data=open" style="color:white">
                                            <i class="material-icons">code</i>
                                        </a>
                                        <p class="card-category">İşlemdeki Talep Sayısı</p>
                                        <h3 class="card-title">@(Model.openIssueCount + " / " + Model.issueCount)</h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-lg-8 col-md-6 col-sm-6" style="  margin: 0 auto; position: relative;">
                                <div class="card card-stats">
                                    <div class="card-header card-header-success card-header-icon">
                                        <a class="card-icon" href="/Home/FilterCompanyScoreReportPage?data=done" style="color:white">
                                            <i class="material-icons">cloud</i>
                                        </a>
                                        <p class="card-category">Kapanan Talep Sayısı</p>
                                        <h3 class="card-title">@(Model.closeIssueCount + " / " + Model.issueCount)</h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:50px;">
                        <div class="col-sm-4">
                            <div class="col-lg-8 col-md-6 col-sm-6" style="  margin: 0 auto; position: relative;">
                                <div class="card card-stats">
                                    <div class="card-header card-header-success card-header-icon">
                                        <a class="card-icon" href="/Home/FilterCompanyScoreReportPage?data=normal" style="color:white">
                                            <i class="material-icons">how_to_vote</i>
                                        </a>
                                        <p class="card-category">Normal Talep Sayısı</p>
                                        <h3 class="card-title">@(Model.normalIssueCount + " / " + Model.issueCount)</h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-lg-8 col-md-6 col-sm-6" style="  margin: 0 auto; position: relative;">
                                <div class="card card-stats">
                                    <div class="card-header card-header-warning card-header-icon">
                                        <a class="card-icon" href="/Home/FilterCompanyScoreReportPage?data=important" style="color:white">
                                            <i class="material-icons">where_to_vote</i>
                                        </a>
                                        <p class="card-category">Önemli Talep Sayısı</p>
                                        <h3 class="card-title">@(Model.importantIssueCount + " / " + Model.issueCount)</h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-lg-8 col-md-6 col-sm-6" style="  margin: 0 auto; position: relative;">
                                <div class="card card-stats">
                                    <div class="card-header card-header-info card-header-icon">
                                        <a class="card-icon" href="/Home/FilterCompanyScoreReportPage?data=critical" style="color:white">
                                            <i class="material-icons">report</i>
                                        </a>
                                        <p class="card-category">Kritik Talep Sayısı</p>
                                        <h3 class="card-title">@(Model.criticalIssueCount + " / " + Model.issueCount)</h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:50px;">

                        <div class="col-lg-5 col-md-5 col-sm-5" style="  margin: 0 auto; position: relative;">
                            <div class="card card-stats">
                                <div class="card-header card-header-rose card-header-icon">
                                    <a class="card-icon" href="/Home/FilterCompanyScoreReportPage?data=#" style="color:white">
                                        <i class="material-icons">timelapse</i>
                                    </a>
                                    <p class="card-category">Toplam Destek Süresi</p>
                                    <h3 class="card-title">@(Model.totalSupportTime)</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr />
                    <div style="text-align:right">
                        @if (ViewBag.Filter != null)
                        {
                            <h5 style="font-weight:900; font-style:oblique; margin-right:1%;" class="text-info">Filtre = @ViewBag.Filter</h5>
                        }
                    </div>

                    <table id="myGrid" class="table">
                        @{
                            if (ViewBag.issueList != null && (ViewBag.issueList).Count > 0)
                            {
                                <thead>
                                <th>Talebi Açan</th>
                                <th>Açılış Tarihi</th>
                                <th>Atama Tarihi</th>
                                <th>Kapanış Tarihi</th>
                                <th>Talebe Atanan Personel</th>
                                <th>Talep Statü</th>
                                <th>Önem Derecesi</th>
                                <th>Destek Süresi</th>
                                </thead>
                                <script>
    $(document).ready(function () {
        $('#myGrid').DataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
            },
            data: @(Html.Raw(Json.Encode(ViewBag.issueList))),
            columns: [{
                "data": "OpenedBy",
                "render": function (data, type, row, meta) {
                    if (type === 'display' || type === 'filter') {
                        var text = "", code = "";
                        switch ((data.UserType.UserTypeText + "").substring(0, 1)) {
                            case "A":
                                text = "Administrator";
                                code = "A";
                                break;
                            case "E":
                                text = "Personel";
                                code = "P";
                                break;
                            case "C":
                                text = "Müşteri";
                                code = "M";
                                break;
                        }
                        data = data.Person.Name + ' ' + data.Person.SurName;
                        data += '<span title="' + text + '" style="font-weight:900; cursor:pointer"> (' + code + ')</span>';
                    }
                    return data;
                }
            }, {
                    "data": "CreatedTime",
                    "render": function (data) {
                          if (data != null) {
                              var date = new Date(getDateFromAspNetFormat(data)); // getDateFromAspNetFormat Methodu Layout'da.
                              return getDateInStringFormat(date); // getDateInStringFormat Methodu Layout'da.   
                          } else {
                              return "-";
                          }
                    }
                },  {
                    "data": "AppointedTime",
                    "render": function (data) {
                          if (data != null) {
                              var date = new Date(getDateFromAspNetFormat(data)); // getDateFromAspNetFormat Methodu Layout'da.
                              return getDateInStringFormat(date); // getDateInStringFormat Methodu Layout'da.   
                          } else {
                              return "-";
                          }
                    }
                }, {
                    "data": "ClosedTime",
                    "render": function (data) {
                          if (data != null) {
                              var date = new Date(getDateFromAspNetFormat(data)); // getDateFromAspNetFormat Methodu Layout'da.
                              return getDateInStringFormat(date); // getDateInStringFormat Methodu Layout'da.   
                          } else {
                              return "-";
                          }
                    }
                }, {
                    "data": "AppointedUser",
                                      "render": function (data, type, row, meta) {
                        if (type === 'display' || type === 'filter') {
                            if (data != null) {
                                var text = "", code = "";
                                switch ((data.UserType.UserTypeText + "").substring(0, 1)) {
                                    case "A":
                                        text = "Administrator";
                                        code = "A";
                                        break;
                                    case "E":
                                        text = "Personel";
                                        code = "P";
                                        break;
                                    case "C":
                                        text = "Müşteri";
                                        code = "M";
                                        break;
                                }
                                data = data.Person.Name + ' ' + data.Person.SurName;
                                data += '<span title="' + text + '" style="font-weight:900; cursor:pointer"> (' + code + ')</span>';
                            } else {
                                data = "-"
                            }
                        }
                        return data;
                    }
                }, {
                    "data": "Status.StatusType"
                    },
                         {
                                                           "data": "Priority",
                                                         "render": function (data, type, row, meta) {
                                                             if (type === 'display' || type === 'filter') {
                                                                 switch (data) {
                                                                     case 0: data = "Normal"; break;
                                                                     case 1: data = "Önemli"; break;
                                                                     case 2: data = "Kritik"; break;
                                                                 }
                                                             }
                                                             return data;
                                                     }
                                                     },
                {
                    "data": "ID",
                    "render": function (data, type, row, meta) {
                        if (type === 'display' || type === 'filter') {
                            if (row.AppointedTime != null) {
                                var date1 = new Date(getDateFromAspNetFormat(row.AppointedTime)).getTime();
                                var date2 = new Date().getTime();
                                if (row.ClosedTime != null) {
                                    date2 = new Date(getDateFromAspNetFormat(row.ClosedTime)).getTime();
                                }
                                var closed = false;

                                var msec = date2 - date1;
                                var mins = Math.floor(msec / 60000);
                                var hrs = Math.floor(mins / 60);
                                var days = Math.floor(hrs / 24);
                                var yrs = Math.floor(days / 365);
                                var secs = Math.floor((msec / 100) % 60);
                                mins = mins % 60;
                                hrs = hrs % 24;
                                var dateDiff = "-";
                                if (secs > 0 || mins > 0 || hrs > 0 || days > 0) {
                                    if (days > 0) {
                                        dateDiff = days + " Gün";
                                    }
                                    if (days > 0 && hrs > 0) {
                                        dateDiff += ", " + hrs + " Saat";
                                    }
                                    else if (hrs > 0) {
                                        dateDiff = hrs + " Saat";
                                    }
                                    if ((days > 0 || hrs > 0) && mins > 0) {
                                        dateDiff += ", " + mins + " Dakika";
                                    }
                                    else if (mins > 0) {
                                        dateDiff = mins + " Dakika";
                                    }
                                    if ((days > 0 || hrs > 0 || mins > 0) && secs > 0) {
                                        dateDiff += ", " + secs + " Saniye";
                                    }
                                    else if (secs > 0) {
                                        dateDiff = secs + " Saniye";
                                    }
                                }
                                data = dateDiff;
                                  if (row.ClosedTime == null) {
                                    data += "<span style='font-weight:900; cursor:pointer' title='Devam Ediyor'> (D) </span>";
                                }
                            } else {
                                data = "-";
                            }
                        }
                        return data;
                    }
                                                     }],
            columnDefs: [{"className": "dt-center", "targets": "_all"}]
        });
    });
                                </script>
                            }
                            else
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            <span style="font-weight:900; display:block; text-align:center">Gösterilecek Kayıt Bulunamadı.</span>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>

                </div>
            </div>
        </div>
