﻿@using work01.Models.Entities
@model work01.Models.ViewModels.Home.IssueDetailViewModel

@section chatScript {
    <link href="~/Content/chat.css" rel="stylesheet" />
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="max-height: 550px;">
                    <div class="card-header card-header-primary">
                        @if (Model.AppointedUser != "Belirlenmedi" && ViewBag.userType.ToString() != "Customer")
                        {
                            <a href="/Home/CloseIssue?ID=@Model.IssueID" class="btn btn-success btn-xs pull-right"><span>Talebi Kapat</span></a>
                        }
                        <h4 class="card-title"><b>Talep Detayı - @Model.issueTitle</b>    </h4>
                        <p class="card-category">
                            Talep Görevlisi : @Model.AppointedUser @if (Model.AppointedUser != "Belirlenmedi")
                            {
                                <text>
                                    (@(Model.DemandApproval ? "Onaylandı" : "Onaylanmadı"))
                                </text>
                            }
                        </p>
                    </div>
                    <div class="card-body" style="width: 100%; overflow-x: auto">
                        <ul class="comment-section" style="max-width: none; margin-bottom: 0px; padding-bottom:0px; margin-top: 0px;">
                            <li class="comment author-comment" style="width: 90%; margin-top: 0px;">
                                <div class="info">
                                    <a href="#">@(Model.UserNameSurname)</a>
                                    <span>@Model.CreatedTime</span>
                                </div>
                                <a class="avatar" href="#">
                                    <img src="~/Content/img/angular.png" width="35" alt="Profile Avatar" title="@(Model.UserNameSurname)" />
                                </a>
                                <p style="        width: 85%">@Model.IssueText</p>
                            </li>
                        </ul>
                        @if (ViewBag.IssueFileList != null && (ViewBag.IssueFileList as List<IssueDetail>).Count > 0)
                        {
                            <div class="card" style="margin-top:20px;">
                                <div class="card-header card-header-info" style="width:50%;">
                                    <h6 class="card-title"><i class="fas fa-cloud-upload-alt fa-lg"></i>     Dosyalar</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row" style="padding-left:20px;">
                                        @foreach (var issueDetail in ViewBag.IssueFileList as List<IssueDetail>)
                                        {
                                            <div style="height: 100px; position: relative; margin-left: 10px;">
                                                @{
                                                    List<string> ImageExtensions = new List<string> { ".JPG", ".JPE", ".BMP", ".GIF", ".PNG", ".ICO" };
                                                }
                                                @if (ImageExtensions.Contains(Path.GetExtension(issueDetail.FileName).ToUpperInvariant()))
                                                {
                                                    <a onclick="showModal('@issueDetail.FileName')">
                                                        <img id="@issueDetail.FileName" src="~/Content/uploads/@issueDetail.FileName" width="100" height="100" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a onclick="showModal('@issueDetail.FileName')">
                                                        <img id="@issueDetail.FileName" src="~/Content/img/file.png" width="100" height="100" />
                                                    </a>

                                                }

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 id="modalTitle"></h5>
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Kapat</span></button>
                                    </div>
                                    <div class="modal-body" style="max-height:700px; text-align: center">
                                        <img src="" id="imagepreview" style="width: auto; max-width:100%; height: auto; max-height:650px;">
                                    </div>
                                    <div class="modal-footer">
                                        <a id="downloadButton" class="btn btn-success btn-sm" rel="tooltip" title="İndir" href="#"><i class="fas fa-download fa-lg"></i></a>
                                        @if (Model.UserID == ViewBag.userID || ViewBag.userType.ToString() == "Administrator" || Model.AppointedUserID == ViewBag.userID)
                                        {
                                            <a id="removeButton" class="btn btn-danger btn-sm" rel="tooltip" title="Sil" href="#"><i class="fas fa-trash fa-lg"></i></a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.IssueDetailList != null && (ViewBag.IssueDetailList as List<IssueDetail>).Count > 0)
                        {
                            <div class="card" style="margin-top:20px;">
                                <div class="card-header card-header-warning" style="width:25%;">
                                    <h6 class="card-title"><i class="fas fa-comment fa-lg"></i>     Yorumlar</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <ul class="comment-section" style="margin-top: 0px;">

                                            @foreach (var issueDetail in ViewBag.IssueDetailList as List<IssueDetail>)
                                            {
                                                if (issueDetail.Issue.AppointedUser != null && issueDetail.User.ID == issueDetail.Issue.AppointedUser.ID)
                                                {
                                                    <text>
                                                        <li class="comment author-comment">
                                                            <div class="info">
                                                                <a href="#">@(issueDetail.User.Person.Name + " " + issueDetail.User.Person.SurName)</a>
                                                                <span>@issueDetail.CreatedTime</span>
                                                            </div>

                                                            <a class="avatar" href="#">
                                                                <img src="~/Content/img/angular.png" width="35" alt="Profile Avatar" title="@(issueDetail.User.Person.Name + " " + issueDetail.User.Person.SurName)" />
                                                            </a>

                                                            <p>@issueDetail.Message</p>
                                                            @if (issueDetail.User.ID == ViewBag.userID)
                                                            {
                                                                <div>
                                                                    <a class="btn btn-danger  btn-link btn-sm" rel="tooltip" title="Sil" href="/Home/RemoveIssueDetail?ID=@issueDetail.ID"><i class="fas fa-times fa-lg"></i></a>
                                                                    <a class="btn btn-warning  btn-link btn-sm" rel="tooltip" title="Düzenle" href="/Home/SelectIssueDetailForEdit?ID=@issueDetail.ID"><i class="fas fa-pen fa-lg"></i></a>
                                                                </div>
                                                            }
                                                        </li>
                                                    </text>
                                                }
                                                else
                                                {
                                                    <text>
                                                        <li class="comment user-comment">
                                                            <div class="info">
                                                                <a href="#">@(issueDetail.User.Person.Name + " " + issueDetail.User.Person.SurName)</a>
                                                                <span>@issueDetail.CreatedTime</span>

                                                            </div>

                                                            <a class="avatar" href="#">
                                                                <img src="~/Content/img/angular.png" width="35" alt="Profile Avatar" title="@(issueDetail.User.Person.Name + " " + issueDetail.User.Person.SurName)" />
                                                            </a>

                                                            <p>@issueDetail.Message</p>
                                                            @if (issueDetail.User.ID == ViewBag.userID)
                                                            {
                                                                <div>
                                                                    <a class="btn btn-warning  btn-link btn-sm" rel="tooltip" title="Düzenle" href="/Home/SelectIssueDetailForEdit?ID=@issueDetail.ID"><i class="fas fa-pen fa-lg"></i></a>
                                                                    <a class="btn btn-danger  btn-link btn-sm" rel="tooltip" title="Sil" href="/Home/RemoveIssueDetail?ID=@issueDetail.ID"><i class="fas fa-times fa-lg"></i></a>
                                                                </div>
                                                            }


                                                        </li>
                                                    </text>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div>
                    <ul class="comment-section" style="margin-top: 0px;">
                        <li class="write-new" style="margin-top: 0px; margin-bottom:0px;">
                            @using (Html.BeginForm())
                            {
                                @Html.HiddenFor(m => m.IssueID)
                                @Html.HiddenFor(m => m.issueDetailID)
                                @Html.TextAreaFor(m => m.Message, new { id = "comment", name = "comment", placeholder = "Yorumunuzu Buraya Yazınız" })
                                <div>
                                    @Html.ValidationMessageFor(m => m.Message)
                                </div>
                                <div>

                                    <div class="info">
                                        <a class="avatar" href="#">
                                            <img src="~/Content/img/angular.png" width="35" alt="Profile Avatar" title="@ViewBag.userNameSurname" />
                                        </a>
                                        <span style="font-weight: 900">@ViewBag.userNameSurname</span>
                                        @if (ViewBag.editIssue == null)
                                        {
                                            <button type="submit" name="action:SaveIssueDetail" class="btn btn-primary">Gönder</button>
                                        }
                                        else
                                        {
                                            <button type="button" onclick="location.href='/Home/IssueDetail?ID=@Model.IssueID'" class="btn btn-danger pull-right">İptal</button>
                                            <button type="submit" name="action:UpdateIssueDetail" class="btn btn-primary pull-right">Kaydet</button>
                                        }
                                    </div>

                                </div>
                            }
                        </li>
                        @if (Model.UserID == ViewBag.userID || ViewBag.userType.ToString() == "Administrator" || Model.AppointedUserID == ViewBag.userID)
                        {
                            <li style="margin-top:0px;">
                                @using (Html.BeginForm("UploadFileForIssue", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <label for="ChosenFiles" class="btn-info pull-right" style="border: 1px solid #ccc; display: inline-block; padding: 6px 12px; cursor: pointer;">
                                        <i class="fas fa-cloud-upload-alt"></i> Dosya Yükle
                                    </label>
                                    <input type="file" name="ChosenFiles" id="ChosenFiles" style="display:none" multiple accept="image/*,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf" onchange="this.form.submit();" />
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showModal(source) {
        var srcPath = '/Content/img/file.png';
        var extension = source.substr((source.lastIndexOf('.') + 1));
        switch (extension) {
            case 'xls':
            case 'xlsx':
            case 'doc':
            case 'docx':
            case 'pdf':
                srcPath = '/Content/img/file.png';
                break;
            default:
                srcPath = '/Content/uploads/' + source;
                break;
        }
        $('#imagepreview').attr('src', srcPath); // here asign the image to the modal when the user click the enlarge link
        $('#modalTitle').text(source);
        $('#downloadButton').attr('href', '/Home/DownloadFile?fileName=' + source)
        $('#removeButton').attr('href', '/Home/DeleteFileForIssue?guid=' + source)

        $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
    }
</script>