﻿@using work01.Models.ViewModels.Home
@using work01.Models.Enums
@model RegisterPageViewModel

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title"><b>Kullanıcı Bilgileri</b></h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="text-muted font-weight-light">
                                        Kullanıcının Kişisel Bilgileridir.
                                    </p>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.HiddenFor(m => m.Person.ID)
                                            @Html.HiddenFor(m => m.User.ID)
                                            @Html.HiddenFor(m => m.Customer.ID)
                                            <div class="form-group">
                                                <label class="bmd-label-floating">First Name</label>
                                                @Html.TextBoxFor(m => m.Person.Name, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Last Name</label>
                                                @Html.TextBoxFor(m => m.Person.SurName, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Phone</label>
                                                @Html.TextBoxFor(m => m.Person.Phone, new { @class = "form-control", type = "phone", id = "phone" })
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Address</label>
                                                @Html.TextAreaFor(m => m.Person.Adres, new { @class = "form-control", rows = "7" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title"><b>Hesap Bilgileri</b></h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="text-muted font-weight-light">
                                        Sistemde kullanılacak <span style="font-weight:900">"Kimlik Doğrulama"</span> için gerekli bilgilerdir.
                                    </p>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="ddl" style="font-size:smaller">Kullanıcı Rolü</label>
                                        @Html.DropDownListFor(m=>m.User.UserType.ID, ViewBag.UserTypeList as List<SelectListItem>, new { @class = "form-control", id = "userTypeDropDownList" })
                                    </div>
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email</label>
                                        @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", type = "email" })
                                    </div>
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Username</label>
                                        @Html.TextBoxFor(m => m.User.Username, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Password</label>
                                        @Html.TextBoxFor(m => m.User.Password, new { @class = "form-control", type = "password" })
                                    </div>
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Şifre Tekrar</label>
                                        @Html.TextBoxFor(m => m.User.PasswordAgain, new { @class = "form-control", type = "password" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="partialViewContainer" style="display:none">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title"><b>Müşteri Bilgileri</b></h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="text-muted font-weight-light">
                                            Müşteri ile ilgili ekstra bilgi tanımlama alanıdır.
                                        </p>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Müşteri Kodu</label>
                                            @Html.TextBoxFor(m => m.Customer.CustomerCode, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Yönetici Telefon Numarası</label>
                                            @Html.TextBoxFor(m => m.Customer.ManagerPhone, new { @class = "form-control", type="phone", id="adminPhone"})
                                        </div>
                                        <div class="form-group">
                                            <span style="font-size:0.6875rem; color:#AAAAAA; margin-bottom:0px;">Kontrat Tipi</span>
                                            @Html.DropDownListFor(m => m.Customer.ContractType.ID, ViewBag.ContractTypeList as SelectList, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <span style="font-size:0.6875rem; color:#AAAAAA; margin-bottom:0px;">Contrat Bitiş Tarihi</span>
                                            @Html.EditorFor(m => m.contractEndTime, new { htmlAttributes = new { @class = "form-control datepicker-here", @readonly = true, style="background-color:white;" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="regularValidationErrorMessages">
                                <div>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>

                                <div>
                                    @Html.ValidationMessageFor(m => m.Person.Name, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(m => m.Person.SurName, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(m => m.Person.Phone, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(m => m.Person.Adres, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(m => m.User.Username, "", new { @class = "text-danger", name = "validUsername" })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(m => m.User.Password, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(m => m.User.PasswordAgain, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(m => m.User.Email, "", new { @class = "text-danger", name = "validEMail" })
                                </div>
                            </div>
                            <div id="customerValidationErrorMessages">
                                <div>
                                    @Html.ValidationMessageFor(m => m.Customer.ContractEndTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @if (ViewBag.EditUser == null)
                            {
                                <button type="submit" name="action:CreateUser" class="btn btn-primary pull-right">
                                    Kayıt Oluştur
                                </button>
                            }
                            else
                            {
                                <button type="submit" name="action:UpdateUser" class="btn btn-primary pull-right">
                                    Bilgileri Güncelle
                                </button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

    <script>
        var dropDownList = $("#userTypeDropDownList");

        controlPanel();

        dropDownList.on("change", function (e) {
            controlPanel();
        })

        function controlPanel() {
            switch ($(dropDownList).children("option:selected").text()) {
                case "Müşteri":
                    $('#partialViewContainer').show();
                    $('#customerValidationErrorMessages').show();
                    break;
                default:
                    $('#partialViewContainer').hide();
                    $('#customerValidationErrorMessages').hide();
                    break;
            }
        }
    </script>





