﻿@using work01.Models.Entities;

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <span style="font-size: 1.125rem; line-height:1.4em; font-weight:bolder" class="card-title">
                            Kullanıcı Listesi
                        </span>
                        @if (ViewBag.userType.ToString() == "Administrator")
                        {
                            <a class="btn btn-success btn-link btn-sm pull-right" rel="tooltip" title="Kullanıcı Oluştur" href="/Home/RegisterPage"><i class="fas fa-folder-plus fa-2x"></i></a>
                        }
                    </div>
                    <div class="card-body table-responsive" style="max-height:690px; overflow-y:auto;">
                        <table id="myGrid" class="table table-hover">
                            @{
                                if (ViewBag.UserList != null && (ViewBag.UserList).Count > 0)
                                {
                                    <thead>
                                    <th></th>
                                    <th>
                                        <span style="font-weight:900; display:block; text-align:center">Kullanıcı Adı</span>
                                    </th>
                                    <th>
                                        <span style="font-weight:900; display:block; text-align:center">Adı Soyadı</span>
                                    </th>
                                    <th>
                                        <span style="font-weight:900; display:block; text-align:center">Kullanıcı Tipi</span>
                                    </th>
                                    <th>
                                        <span style="font-weight:900; display:block; text-align:center">Kayıt Tarihi</span>
                                    </th>
                                    <th class="text-right" style="width:10%"></th>
                                    </thead>
                                    <script>
                                        $(document).ready(function () {
                                             $('#myGrid').DataTable({
                                                 language: {
                                                     "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                                                 },
                                                 data: @(Html.Raw(Json.Encode(ViewBag.UserList))),
                                                 columns: [{
                                                     "data": "UserType.UserTypeText",
                                                     "render": function (data, type, row, meta) {
                                                         if (type === 'display') {
                                                             switch (data)
                                                                {
                                                                   case "Employee":
                                                                       data = "<i class='fas fa-user-cog fa-lg'></i>";
                                                                       break;
                                                                   case "Customer":
                                                                        data = "<i class='fas fa-user-edit fa-lg'></i>";
                                                                       break;
                                                                   case "Administrator":
                                                                        data = "<i class='fas fa-user-tie fa-lg'></i>";
                                                                     break;
                                                               }
                                                         }
                                                         return data;
                                                     }
                                                 } , {
                                                         "data": "Username"
                                                     }, {
                                                         "data": "Person",
                                                         "render": function (data, type, row, meta) {
                                                             return data.Name + ' ' + data.SurName;
                                                         }
                                                     }
, {
                                                         "data": "UserType.UserTypeText",
                                                         "render": function (data, type, row, meta) {
                                                             if (type === 'filter' || type === 'display') {
                                                             switch (data)
                                                             {
                                                                 case "Employee":
                                                                     data = "Çalışan";
                                                                     break;
                                                                 case "Customer":
                                                                     data = "Müşteri";
                                                                     break;
                                                                 case "Administrator":
                                                                     data = "Yönetici";
                                                                     break;
                                                             }
                                                         }
                                                         return data;
                                                         }
                                                     }, {
                                                         "data": "CreatedTime",
                                                         "render": function (data) {
                                                             if (data != null) {
                                                                 var date = new Date(getDateFromAspNetFormat(data)); // getDateFromAspNetFormat Methodu Layout'da.
                                                                 return getDateInStringFormat(date); // getDateInStringFormat Methodu Layout'da.   
                                                             } else {
                                                                 return "-";
                                                             }
                                                         }
                                                     }, {
                                                         "data": "ID",
                                                         "render": function (data, type, row, meta) {
                                                         if (type === 'display') {
                                                             data = "<div style='text-align:right'><a class='btn btn-warning  btn-link btn-sm' rel='tooltip' title='Düzenle' href='/Home/RegisterPage?ID=" + data + "'><i class='fas fa-pen fa-lg'></i></a>" +
                                                                 "<a class='btn btn-danger  btn-link btn-sm' rel = 'tooltip' title = 'Sil' href = '/Home/RemoveUser?ID=" + data + "' > <i class='fas fa-times fa-lg'></i></a></div>";
                                                         }
                                                         return data;
                                                     },
                                                     "orderable": false
                                                     }],
                                                 columnDefs: [{ "className": "dt-center", "targets": "_all" }]
                                             });
                                        });
                                    </script>
                                }
                                else
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span style="font-weight:900; display:block; text-align:center">Gösterilecek Herhangi Bir Kullanıcı Kaydı Bulunamadı</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>