﻿@using work01.Models.Entities;
@model User
@{
    ViewBag.Title = "ForgotPasswordPage";
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Şifremi Unuttum</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-at"></i></span>
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail", @type = "email" })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Şifre Gönder" class="btn float-right login_btn" style="width:50%;">
                    </div>
                }
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <a href="/User/LoginPage">Şifremi Hatırladım</a>
                </div>
            </div>
        </div>
    </div>
</div>


